:root {
    --darkgray: #2d333b;
    --lightgray: #747474;
    --off-white: #e7ebf0;
    --night: #22272e;
  }

@font-face {
    font-family: 'Fish Grill Font';
    src: url('/Fish_Grill_Font.otf') format('opentype');
}

html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 30px;
    font-family: 'Fish Grill Font';
    color: var(--off-white);
    background-color: var(--night);
}


/* Start Game Modal */
.game-modal,
.results-modal {
    display: block;
    position: fixed;
    z-index: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--night);
}

.results-modal {
    display: none;
}

.start-game,
.results-content {
    font-size: 16px;
    margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 70px;
    margin: 0;
}


/* Game Board Content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.gameboard {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
    padding: 30px;
}


.col0,
.col1,
.col2 {
    display: flex;
    flex-direction: column-reverse;
}

.slot {
    font-size: 70px;
    height: 120px;
    width: 120px;
    border: 1px solid var(--off-white);
    display: grid;
    align-content: center;
    justify-content: center;
}

.slot:hover,
button:hover {
    background: var(--lightgray)
}

button {
    cursor: pointer;
    font-size: 20px;
    font-family: 'Fish Grill Font';

}

.PvP-btn,
.restart {
    margin: 20px;
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

footer {
    font-family: Verdana, sans-serif;
    opacity: 0.3;
    font-style: italic;
    padding-top: 10rem;
    font-size: 16px;
}


a:visited {
    color: var(--lightgray)
}

